.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.dashYogaPose {
    flex-basis: 25%;  /* Make each child element the same width */
    border: 3px solid black;
    padding: 1em;
    margin: 0.5em;
    background-color: violet;
}
.gif {
   /* width: 100%; */
   align-items:center
}
.sunImg {
    width: 300px;
    
}
.dashYogaPose:hover {
    position: relative;
    bottom: 5px;
    box-shadow: 0 10px 5px rgba(51, 20, 100, 0.648);
    color: black;
}

.btn--release {
    background: #fff;
    color: black;
    border: 2px solid orange;
    border-radius: 3px;
    padding: 10px;
    text-transform: uppercase;
}
