.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.dashYogaPose {
    flex-basis: 25%;  /* Make each child element the same width */
    border: 3px solid black;
    padding: 1em;
    margin: 0.5em;
    background-color: violet;
}
.gif {
   /* width: 100%; */
   align-items:center
}
.sunImg {
    width: 300px;
    
}

