.yogaPoses {
 display: flex;
 flex-wrap: wrap;
}
.yogaPose {
    background-color: chocolate;
	color: black;
	border: 1px dotted black;
	margin: 1rem;
	padding: 0.5rem;
    flex-basis: 25%;
    width: 300px;
   

}