.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    padding: 20px;
    height: 150px;
    text-align: center;
    box-sizing: border-box;
    background-color: #C8B9FF;
    /* top: 0; */
    /* position: fixed; */
    width: 100%;
    margin: 1px;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    color:black;
    padding: 30px;
    font-size: 20px;
}
.btn_out {
    padding: 30px;
    
}
.logo {
    margin: auto;
}